{{ define "main" }}

  {{ if eq .Section "weddings" }}
    <section class="weddings-gallery">
      {{ range .Pages }}
        {{ $cover := .Resources.GetMatch .Params.featured_image }}
        {{ $coverURL := cond $cover $cover.RelPermalink "" }}
        <div class="wedding-block" style="background-image: url('{{ $coverURL }}');">
          <a class="wedding-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
      {{ end }}
    </section>

    {{ else if eq .File.Path "work/_index.md" }}
    {{ $defaultBG := .Resources.GetMatch "default*" }}
    <section class="home-hero" style="background-image: url('{{ $defaultBG.RelPermalink }}');">
      <div class="hero-overlay"></div>

      <section class="category-list with-backgrounds">
        {{ range .Sections }}
          {{ $cover := .Resources.GetMatch .Params.featured_image }}
          {{ $coverURL := cond $cover $cover.RelPermalink "" }}
          <a class="category-item-bg" href="{{ .RelPermalink }}" style="background-image: url('{{ $coverURL }}');">
            <div class="category-overlay">
              <h2>{{ .Title }}</h2>
            </div>
          </a>
        {{ end }}
      </section>
    </section>

  {{ else }}
    {{ $sectionCover := .Resources.GetMatch "default*" }}
    {{ $defaultCover := cond $sectionCover $sectionCover.RelPermalink "" }}

    <section id="category-hero" class="category-hero" data-default-cover="{{ $defaultCover }}">
      <div class="category-title">
        <h1>{{ .Title }}</h1>
        <hr />
      </div>

      <div class="project-list">
        {{ range union .Sections .RegularPages.ByDate.Reverse }}
          {{ $coverRes := .Resources.GetMatch "cover*" }}
          {{ $coverURL := cond $coverRes $coverRes.RelPermalink "" }}
          <div class="project-entry" data-cover="{{ $coverURL }}" data-url="{{ .Permalink }}">
            <h1>{{ .Title }}</h1>
          </div>
        {{ end }}
      </div>
    </section>

  {{ end }}

{{ end }}